.funny-glasses {
    position: relative;
    left: 213px;
    bottom: 108px;
    animation-name: monocle-move;
    animation-duration: 4s;
}

.bandana{
    position: relative;
    bottom: 64px;
    right: 125px;
}

.pawprint {
    position: fixed;
    top: 3em;
    right: 69.75em ;

}

.luna{
    position: sticky;
    left: 1em;
}

.top-hat {
    z-index: 1;
}